<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<table class="table table-striped">
			<tr>
				<td><strong>Adı Soyadı</strong></td>
				<td><%= @adisoyadi %></td>
			</tr>
			<tr>
				<td><strong>Email</strong></td>
				<td><%= @email %></td>
			</tr>
			<tr>
				<td><strong>Konu</strong></td>
				<td><%= @konu %></td>
			</tr>
			<tr>
				<td><strong>Açıklama</strong></td>
				<td><%= @aciklama %></td>
			</tr>
		</table>    
  </body>
</html>
