<!DOCTYPE html>
<html>
  <head>
    <title>Fenbahcem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	</head>

  <body>
		<style>
		body{
			margin-top:50px;
			min-height: 2000px;
			padding-top: 50px;}
		.glyphicon { margin-right:10px; }
		.panel-body { padding:0px; }
		.panel-body table tr td { padding-left: 15px }
		.panel-body .table {margin-bottom: 0px; }
		</style>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">FenBahçem</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Anasayfa</a></li>
						<li><a href="#contact">Foto Galeri</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Videolar<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Deney Videoları</a></li>
								<li><a href="#">Diğer Videolar</a></li>
<!--                           <li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li> -->
							</ul>
						</li>
						<li><a href="#about">Gönderin Yayınlayalım</a></li>
						<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faydalı Bilgiler<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Bilim Fuarı</a></li>
										<li><a href="#">Bilim İnsanları</a></li>
										<li><a href="#">Resmi Evraklar</a></li>
										<li><a href="#">İlginç Bilgiler</a></li>
									</ul>
								</li>
								<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rehberlik<span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="#">Motivasyon</a></li>
												<li><a href="#">Sınav Sİstemi</a></li>
											</ul>
									</li>
									<li><a href="#about">Öneri ve Şikayet Kutusu</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
									<form class="navbar-form navbar-right">
													<input type="text" class="form-control" placeholder="Search...">
												</form>
					</ul>

				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
					<div class="col-sm-3 col-md-3">
							<div class="panel-group" id="accordion">
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
															</span>5. Sınıf</a>
													</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in">
													<div class="panel-body">
															<table class="table">
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-pencil text-primary"></span><a href="/ogrenci/sinif5konuanlatimi/uniteler">Konu Anlatımı</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-flash text-success"></span><a href="#">Yaprak Testler</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-file text-info"></span><a href="#">Deneme Sınavları</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-comment text-success"></span><a href="#">Yazılılar</a>
																					<span class="badge">42</span>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-file text-info"></span><a href="#">Etkinlikler</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-file text-info"></span><a href="#">Çıkmış Sınav Soruları</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-file text-info"></span><a href="#">BEP Sınavları</a>
																			</td>
																	</tr>
															</table>
													</div>
											</div>
									</div>
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
															</span>6. Sınıf</a>
													</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse">
													<div class="panel-body">
																	<table class="table">
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Konu Anlatımı</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-flash text-success"></span><a href="#">Yaprak Testler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Deneme Sınavları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-comment text-success"></span><a href="#">Yazılılar</a>
																									<span class="badge">42</span>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Etkinlikler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Çıkmış Sınav Soruları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">BEP Sınavları</a>
																							</td>
																					</tr>
																	</table>
													</div>
											</div>
									</div>
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
															</span>7. Sınıf</a>
													</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse">
													<div class="panel-body">
																	<table class="table">
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Konu Anlatımı</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-flash text-success"></span><a href="#">Yaprak Testler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Deneme Sınavları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-comment text-success"></span><a href="#">Yazılılar</a>
																									<span class="badge">42</span>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Etkinlikler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Çıkmış Sınav Soruları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">BEP Sınavları</a>
																							</td>
																					</tr>
																			</table>
													</div>
											</div>
									</div>
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
															</span>8. Sınıf</a>
													</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse">
													<div class="panel-body">
																	<table class="table">
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Konu Anlatımı</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-flash text-success"></span><a href="#">Yaprak Testler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Deneme Sınavları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-comment text-success"></span><a href="#">Yazılılar</a>
																									<span class="badge">42</span>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Etkinlikler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">Çıkmış Sınav Soruları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="#">BEP Sınavları</a>
																							</td>
																					</tr>
																			</table>
													</div>
											</div>
									</div>
							</div>
					</div>
					<div class="col-sm-9 col-md-9">
						<%= yield %>
					</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
